#simulation {
    min-height: 0;
    display: flex;
    height: 100%;
    width: 100%;

    > div {
        flex: 1;
        /* min-height: 0; */
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        width: 32rem;
        gap: 1rem;

        > div {
            display: flex;
            flex-direction: column;

            gap: 0.5rem;
        }
    }
}
