#simulation {
  min-height: 0;
  display: flex;
  height: 100%;
  width: 100%;

  > div:first-child {
    max-width: var(--default-main-width);
    border-right: 1px;
    padding-bottom: var(--bottom-area);
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: var(--font-size-lg);
      text-wrap: pretty;
    }
  }

  label {
    > span {
      display: block;
    }
    small {
      font-size: var(--font-size-base);
    }
  }

  > div {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: var(--main-padding);

    > div {
      display: flex;
      flex-direction: column;
    }
  }

  div:has(> input + button) {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;

    button {
      color: var(--off-color);
      font-size: var(--font-size-sm);
      line-height: var(--line-height-sm);
    }
  }

  .chart-list {
    max-height: 2000px;
    margin-right: calc(var(--negative-main-padding) - 0.5rem);
  }
}
