#simulation {
  min-height: 0;
  display: flex;
  height: 100%;
  width: 100%;

  > div:first-child {
    max-width: 20rem;
    border-right: 1px;x
  }

  > div {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    > div {
      display: flex;
      flex-direction: column;

      gap: 0.5rem;
    }
  }

  div:has(> input[type="date"] + button) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .chart-list {
    max-height: 500px;
    /* margin-left: var(--negative-main-padding);*/
    margin-right: calc(var(--negative-main-padding) - 0.5rem);
  }

  li {
    label:has(input:not(:checked)) + ul {
      display: none;
    }

    ul {
      padding-left: 0.75rem;
      margin-left:0.25rem;
      border-left: 1px;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;

      li {
        display: inline;
      }
    }
  }
}
