# Mac OS
.DS_Store

# Builds
target

# Sync
.stfolder

# Copies
*\ copy*

# Ignored
ignore

# Editors
.vscode
.zed

# Flamegraph
flamegraph/
flamegraph.svg

# Benchmarks
benches

# Snapshots
snapshots*/

# Docker
docker/kibo

# Types
paths.d.ts

# Git
.git-*
