# Mac OS
.DS_Store

# To do
/charts
TODO.md

# Builds
dist
target

# I/O
in
out
.log
/datasets
/price

# Sync
.stfolder

# Copies
*\ copy*

# Ignored
ignore

# Scripts
/start-node.sh

# Editors
.vscode
.zed

# Configs
config.toml

# Flamegraph
flamegraph/
flamegraph.svg

# Benchmarks
benches

# Snapshots
snapshots*/

# Docker
docker/kibo