#simulation {
  min-height: 0;
  width: 100%;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--main-padding);

    > div {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 767px) {
    overflow-y: auto;

    > div:first-child {
      border-bottom: 1px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-direction: row;

    > div {
      flex: 1;
      overflow-y: auto;
      padding-bottom: var(--bottom-area);
    }

    > div:first-child {
      max-width: var(--default-main-width);
      border-right: 1px;
    }
  }

  header {
    margin-bottom: 0.5rem;
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-x: hidden;

    p {
      text-wrap: pretty;
    }
  }

  label {
    > span {
      display: block;
    }
    small {
      font-size: var(--font-size-base);
    }
  }

  .chart {
    flex-shrink: 0;
    height: 400px;

    .lightweight-chart {
      margin-left: calc(var(--negative-main-padding) / 2);
    }
  }
}
