@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Lexend";
  font-display: "swap";
  src: url("/fonts/Lexend.var.woff2") format("woff2");
  font-weight: 100 900;
  font-optical-sizing: auto;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

html {
  /* Foreground, Background */
  scrollbar-color: #ffffff66 #00000066;
  scrollbar-width: thin;
}

a {
  @apply text-orange-700 hover:underline dark:text-orange-300;
}

mark {
  @apply bg-transparent p-0 text-orange-600 dark:text-orange-400;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border-light {
  @apply border-orange-800/25 dark:border-orange-200/25;
}

.border-lighter {
  @apply border-orange-800/[0.125] dark:border-orange-200/[0.125];
}

.border-superlight {
  @apply border-orange-800/5 dark:border-orange-200/[0.0625];
}

.text-high-contrast {
  @apply text-orange-950 dark:text-orange-50;
}
.decoration-high-contrast {
  @apply decoration-orange-950 dark:decoration-orange-50;
}
