@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Lexend";
  font-display: "swap";
  src: url("/fonts/Lexend.var.woff2") format("woff2");
  font-weight: 100 900;
  font-optical-sizing: auto;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

html {
  /* Foreground, Background */
  scrollbar-color: #ffffff66 #00000066;
  scrollbar-width: thin;
}

a {
  @apply text-orange-300 hover:underline;
}

mark {
  @apply bg-transparent p-0 text-orange-400;
}
